body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #666 !important;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-titulo {
    display: flex;
    align-items: center;
}
header img {
    height: 50px;
    margin-right: 10px;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

#about {
    margin: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#rrss {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 40px; /* Ajusta según la altura del footer original */
    z-index: 999;
    display: flex;
    justify-content: center;
    gap: 40px; /* Espaciado entre iconos */
    border: 1px solid black;
}

/* Si usas imágenes en lugar de FontAwesome */
#rrss img {
    width: 30px; /* Ajusta el tamaño de los íconos */
    height: auto;
    transition: 0.3s;
    
}

#rrss img:hover {
    opacity: 0.7;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border: 1px solid black;
}